:root {
    --color-primary: #162ea8;
    --color-secondary: #d154c5;
    --color-active: #3f51ab;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
    text-shadow: 2px 2px 0 #000;
    word-spacing: 1.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

em {
    color: var(--color-accent);
    font-style: normal;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}

.icon--dark {
    fill: #000;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--accent {
    background: var(--color-accent);
}

.icon-textgroup {
    display: flex;
    flex-direction: column;
    float: right;
    padding-left: 1rem;
}

.icon-text {
    font-size: 1.4rem;
    color: #000;
}

/* Buttons */
.btn {
    border: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--square {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.btn--round {
    border-radius: 40px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 4vw;
    outline: 0;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: background-color 0.3s;
}

.btn--primary:hover {
    background-color: var(--color-active);
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
    transition: background-color 0.3s;
}

.btn--secondary:hover {
    background-color: #ff8aff;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--block {
    width: auto;
    display: inline-block;
}

.btn--block-stretched {
    width: 100%;
    display: inline-block;
}

.btn--outline {
    background: #fff;
    border: 1px solid #61676b;
    transition: color 0.3s;
}

.btn--outline-dark {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
    transition: color 0.3s;
}

.btn--outline-dark:hover {
    background: var(--color-headings);
    color: #fff;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--outline:hover {
    border: 1px solid #000;
    background: #fff;
    color: #fff;
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Inputs */
.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    width: 0;
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
    background: #fff;
}

.card--tilt {
    transform: rotate(-5deg);
    transition: transform 0.2s;
}

.card--tilt:hover {
    transform: rotate(0);
}

.card__header,
.card__body {
    padding: 2rem 7%;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

.card--primary .badge--primary {
    background: #0721a8;
}

.card--secondary .badge--secondary {
    background: #d433c4;
}

.card--colorful .card__header {
    background: linear-gradient(90deg, #162ea8 0%, #d154c5 100%);
    color: #fff;
}

/* Plans */
.plan {
    transition: transform 0.2s ease-out;
}

.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 4rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
    .plan--popular {
        transform: scale(1.1);
    }

    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 3rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

/* Media */
.media {
    display: flex;
    margin-bottom: 4rem;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}

/* Quotes */
.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

.quote__organization {
    color: var(--color-headings);
    opacity: 0.4;
    font-size: 1.5rem;
    font-style: normal;
}

.quote__line {
    position: relative;
    bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__organization {
        font-size: 1.6rem;
    }
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2-even {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--1x2 {
        grid-template-columns: 2fr 3fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: minmax(25rem, 1fr) 3fr 2fr;
        height: 90vh;
    }

    .grid--1x3-even {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--row-2 {
        margin-top: 0;
    }
}

.grid--col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 5rem;
    overflow: auto;
}

.grid--col-3 {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #e0e0e0 0%, #fff 100%);
    padding: 10rem 0;
    overflow: auto;
}

.grid--2x1 {
    grid-template-rows: repeat(2, 1fr);
}

.grid--row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10rem;
}

.grid--1x3 .grid--2x1 {
    width: 80%;
    justify-items: center;
}

.grid--col-3 .card {
    margin-top: 5rem;
    height: 25rem;
    width: 35rem;
}

/* Testimonials */
.testimonial {
    padding: 3rem;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img {
    width: 100%;
}

.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (min-width: 768px) {
    .testimonial .quote .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote {
        margin-left: 6rem;
    }
}

/* Callouts */
.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn {
    justify-self: center;
    align-self: center;
}

.callout__content {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2-even {
        grid-template-columns: 1fr auto;
    }

    .callout__content {
        text-align: left;
    }

    .callout .btn {
        justify-self: start;
        margin: 0 2rem;
    }
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background: #000;
    color: #7b858b;
}

.block--dark .block__heading {
    color: #fff;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation Bar */
.nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 0 30px grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav__list {
    width: 100%;
    margin: 0;
    align-items: center;
    z-index: 1;
    border-top: 1px solid var(--color-border);
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-border);
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item-right-border {
    border-right: none;
}

.nav__item > a {
    color: #61676b;
    transition: color 0.3s;
}

.nav__item > a:hover,
.nav__list .active {
    color: #000;
}

.nav__item .btn--primary {
    color: #ccc;
}

.nav__item .btn--primary:hover {
    color: #fff;
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand {
    transform: translateY(5px);
    margin-left: 3rem;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
        border-top: 0;
    }

    .nav__item {
        border: 0;
    }

    .nav__item-right-border {
        border-right: 1px solid var(--color-border);
    }
}

/* Forms */

.form-container {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.form-container--primary {
    background: #f5f5f5;
}

.form-container--secondary {
    background: #fff;
}

.form-container--long {
    height: auto;
}

.form-container--short {
    height: 100vh;
}

.form-signin {
    max-width: 500px;
    text-align: center;
    width: 100%;
    color: var(--color-body-darker);
}

.form-transaction,
.form-register,
select {
    max-width: 700px;
    text-align: center;
    width: 100%;
    color: var(--color-body-darker);
    padding: 2rem;
}

.form-control,
select {
    border: 1px solid #ced4da;
    outline: 0;
    transition: border 0.15s, box-shadow 0.15s;
}

.form-control:focus,
select:focus {
    border: 1px solid var(--color-primary);
    /* box-shadow: 0 0 0 5px #b9d3fa; */
}

.form-group:focus-within {
    color: var(--color-primary);
}

.form-transaction label,
.form-register label {
    float: left;
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

textarea {
    resize: none;
}

.required:after {
    content: " *";
    color: var(--color-accent);
}

/* One place to define the common properties for buttons and input fields.  */

.form-control,
select,
.form-transaction .btn,
.form-signin .btn,
.form-register .btn {
    border-radius: 5px;
    /* The default box-sizing for input fields is content-box. So, any padding we apply to an input
    field, increases its width. To ensure that input fields and buttons have the same width, we need
    to set box-sizing to border-box. */
    box-sizing: border-box;
    padding: 1.2rem;
    /* It's a common technique to set the width of input fields and buttons to 100% so they fill up
    their container. We can then control their size through their container (in this case form-signin) */
    width: 100%;
}

.form-transaction .btn,
.form-signin .btn,
.form-register .btn {
    background: var(--color-primary);
    border: 0;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    margin: 1rem 0 2rem;
}

.form-transaction .btn:hover,
.form-signin .btn:hover,
.form-register .btn:hover {
    background: var(--color-active);
}

/* We use this class to add vertical space between different input fields. */

.form-transaction .form-group,
.form-signin .form-group {
    margin: 3rem 0;
}

.form-register .form-group {
    margin: 1rem 0.5rem;
}

.form-register .form-group--small {
    width: 50%;
}

.flex-display {
    display: flex;
}

/* A reusable class. */

.muted {
    color: #6c757d;
}

/* Hero */

.hero-frontpage {
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    position: absolute;
}

.hero-frontpage__container {
    position: relative;
    top: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero-frontpage__item {
    color: #fff;
}

.hero__heading-container--frontpage .tagline {
    width: auto;
    background: #000;
    color: #fff;
    opacity: 80%;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 1.5rem;
    margin: 2rem 0 5rem;
    font-size: 2.4rem;
}

.hero__image-container--frontpage {
    position: fixed;
    background: url(../images/home.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    z-index: -1;
}

.hero__heading-container--frontpage {
    width: 100%;
    height: 100vh;
    padding: 0 20rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* .hero__image-container--register {
  position: fixed;
  background: url(../images/buildings.jpg) no-repeat;
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  z-index: -1;
}

.hero__heading-container--register {
  width: 100%;
  height: 100vh;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
} */

.hero--register {
    background: url(../images/shooting-star.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
    overflow-y: scroll;
}

.tagline--register {
    font-size: 2.4rem;
    padding-top: 1rem;
}

.heading-white {
    color: #fff;
}

/* Hero */

.hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image {
    padding: 10rem;
    width: 100%;
}

.hero--clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }

    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* menu */

.menu {
    background: var(--color-primary);
    color: #cfc6dc;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu a {
    color: inherit;
    text-decoration: none;
}

.menu ul {
    border-top: 1px solid #61676b;
    list-style: none;
    padding-left: 0;
}

.menu > ul > li {
    border-bottom: 1px solid #61676b;
}

.menu .collapsible__content {
    font-size: 1.4rem;
    padding-left: 2rem;
}

.menu .bundle:hover,
.menu .active {
    background: var(--color-active);
    color: #fff;
    transition: color 0.3s;
}

.bundle {
    padding: 1.5rem;
}

.menu .fas {
    margin-right: 1rem;
    width: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .menu {
        width: 100%;
    }
}

/* table */

table,
td,
th {
    border: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
    border-collapse: collapse;
    color: var(--color-headings);
}

td,
th {
    padding: 10px;
}

th {
    background: #f5f5f5;
    color: #000;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tfoot {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .table {
        width: 50%;
    }
}

/* Domain Block */
.block-domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
}

.block-domain__prices {
    color: var(--color-headings);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

/* Plans Block */
.block-plans .grid {
    gap: 8rem 4rem;
}

.block-plans .card {
    max-width: 500px;
    margin: 0 auto;
}

/* Features */
.feature {
    gap: 4rem 2rem;
    margin: 12rem 0;
}

.feature:first-of-type {
    margin-top: 6rem;
}

.feature__heading {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content {
        order: 2;
    }
}

/* Showcase Block */
@media screen and (min-width: 768px) {
    .block-showcase .grid {
        grid-template-columns: 50% 50%;
    }

    .block-showcase__image {
        justify-self: end;
    }

    .block-showcase__image > img {
        width: auto;
        max-width: 700px;
    }
}

/* Footer */
.footer {
    background: #232323;
    padding: 3rem;
    display: flex;
}

.footer--tall {
    padding-top: 6rem;
}

.footer a {
    color: #cfc6dc;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
    text-align: center;
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
}

.footer__brand img {
    max-width: 230px;
}

.footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 1.5rem;
    }
    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
        margin-top: 1rem;
    }

    .footer__copyright {
        font-size: 1.5rem;
    }

    .footer__section {
        border: 0;
    }

    .footer__heading {
        font-size: 1.6rem;
    }
}

/* Sign-up Callout */
.callout-signup {
    transform: translateY(5rem);
}
